.movie-listing-wrapper {
  background-color: #222b31;
  width: 100%;
  min-height: 100vh;
  padding: 25px;

  .movie-listing {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .toolbox {
    margin-bottom: 15px;
  }

  .movie {
    width: 44%;
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;

    .poster {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }

    .movie-title {
      margin-top: 5px;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
    }

    .popularity {
      width: 35px;
      height: 35px;
      background-color: #ffb10a;
      border-radius: 50%;
      position: absolute;
      left: 100%;
      top: 0;
      transform: translate(-50%, -50%);
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .current-page-label {
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
  .movie-listing-wrapper {
    .movie {
      width: 30%;
    }
  }
}

@media (min-width: 1280px) {
  .movie-listing-wrapper {
    .movie {
      width: 23%;
    }
  }
}